.circle{
    border: 1px solid transparent;
    width: 128px;
    height: 128px;
    border-radius: 50%;
    background-image: url(../../assets/img/testimonial-user-cover-23.png);
}
.circle.circle1{
    background-image: url(../../assets/img/testimonial-user-cover-24.png);
}