@font-face {
    font-family: "font-1";
    src: url(../assets/font/OpenSans_Condensed-BoldItalic.ttf);
}

$font-1: "font-1", "sans-serif";

$background-1: #252B42;
$background-2: #23A6F0;
$color-1: #23A6F0;
$white: #fff;

h6{
    color: $color-1;
}
li{
    list-style: none;
}

a{
    text-decoration: none;
    color: $color-1;
    font-weight: bold;
}
span{
    color: lime;
}




